@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    苏州市西园路609号<br />
    金创商务大厦202<br />
    <abbr title="Phone">P:</abbr>
    400-031-8816
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">zsu@senparc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">zli@senparc.com</a>
</address>