<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Senparc.WebSocket" version="0.5.5" targetFramework="net45" />
  <package id="Senparc.Weixin" version="4.20.2" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="14.10.3" targetFramework="net45" />
  <package id="Senparc.Weixin.WxOpen" version="1.9.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net45" />
</packages>