@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>《微信公众号 + 小程序快速开发》</h1>
    <p class="lead">讲师：苏震巍</p>
    <p><a href="http://study.163.com/course/introduction/1004873017.htm" class="btn btn-primary btn-lg">开始学习 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始学习</h2>
        <p>
            当前课程已经在网易云课堂、腾讯课堂、CSDN上线，由于每个平台的课程规则不一样，所以课程数量安排、上传速度都会有所不同，目前网易云课堂应该是更新最快的。
        </p>
        <p><a class="btn btn-default" href="http://study.163.com/course/introduction/1004873017.htm">网易云课堂 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>获取课堂示例代码</h2>
        <p>视频过程中的代码我们已经完全开放，无论您有没有购买课程，都是免费的。</p>
        <p><a class="btn btn-default" href="https://github.com/JeffreySu/WechatVideoCourse">查看 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>