@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>《微信公众号 + 小程序快速开发》</h1>
    <p class="lead">讲师：苏震巍</p>
    <p>视频课程围绕微信开发基础知识及实战项目展开，同时旁证侧引介绍丰富的开发知识，比较全面地介绍了Senparc.Weixin SDK中的“公众号”及“小程序”开发模块。</p>
    <p>视频配套图书《微信开发深度解析：微信公众号、小程序高效开发秘籍》是一本非常全面介绍微信公众号开发的图书，同时也是Senparc.Weixin SDK（公众号及小程序模块）的详细说明手册，历经2年精心打造，强烈推荐配套阅读。</p>
    <p><a href="https://book.weixin.senparc.com/book/link?code=wechat-video-course-home" class="btn btn-primary btn-lg" target="_blank">购买《微信开发深度解析》 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始学习</h2>
        <p>
            当前课程已经在网易云课堂、腾讯课堂、CSDN上线，由于每个平台的课程规则不一样，所以课程数量安排、上传速度都会有所不同，目前网易云课堂应该是更新最快的。
        </p>
        <p><a class="btn btn-default" href="http://study.163.com/course/introduction/1004873017.htm">网易云课堂 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>获取课堂示例代码和PPT</h2>
        <p>视频过程中的代码和PPT课件我们已经完全开放，无论您有没有购买课程，都是免费的。<br /><br />
        </p>
        <p><a class="btn btn-default" href="https://github.com/JeffreySu/WechatVideoCourse">下载查看 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Senparc.Weixin SDK</h2>
        <p>Senparc.Weixin SDK 是目前使用率最G的微信 .NET SDK，也是国内Z受欢迎的 .NET 开源项目之一。我们一直坚持完全免费开源此项目的代码，
        并以亲民的价格提供配套的文档和视频，帮助开发者成长。</p>
        <p><a class="btn btn-default" href="https://github.com/JeffreySu/WeiXinMPSDK30187">查看Senparc.Weixin SDK开源项目 &raquo;</a></p>
    </div>
</div>